---
const { date, header, name1, name2, text } = Astro.props;

import Udvalgtevinebutton from "./Udvalgtevinebutton.astro";
---

<article>
  <img src="/image.png" alt="Billede" />
  <h6>{date}</h6>
  <h4>{header}</h4>
  <div class="content">
    <h6>Arrangører</h6>
    <p>{name1}</p>
    <p>{name2}</p>
  </div>
  <div class="content">
    <h6>Info</h6>
    <p>{text}</p>
  </div>
  <div class="margin">
    <Udvalgtevinebutton link="/eventpage" linktekst="Se detaljer" color="alightred" />
  </div>
</article>

<style>
  .margin {
    margin: 20px 20px 40px 20px;
  }
  article {
    background-color: var(--color-red-light);
    border-radius: 7px;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: 1 / 7;
    gap: 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--color-bg-beige);
    padding-left: 20px;
    padding-right: 20px;
  }

  .bold {
    margin-top: 20px;
  }
  img {
    grid-row: 1 / 2;
  }
</style>
