---
const { date, header, name1, name2, text } = Astro.props;
---

<article>
  <h6>{date}</h6>
  <h4>{header}</h4>
  <p>Arrangører</p>
  <p>{name1}</p>
  <p>{name2}</p>
  <p>info</p>
  <p>{text}</p>

  <button>Se detaljer</button>
</article>
