---
const { svg, text, header, linktext, link } = Astro.props;
---

<article>
  <a href="#">{svg}</a>
  <h2>{header}</h2>
  <p>{text}</p>
  <a href="{link}"><h6>{linktext}</h6></a>
</article>

<style>
  article {
    background-color: #faedcd;
    padding: 34px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 350px;
    max-width: 350px;
    min-height: 400px;
    margin: auto;
    gap: 20px;
    position: relative;
  }

  article a:last-of-type {
    margin-top: auto;
  }
</style>
