---
const { svg, text, header, linktext, link } = Astro.props;
---

<article>
  <img src={svg} alt="" />
  <h2>{header}</h2>
  <p>{text}</p>
  <a href="{link}"><h6>{linktext}</h6></a>
</article>

<style>
  article {
    padding: 1rem;
    background-color: #faedcd;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 350px;
    max-width: 350px;
    min-height: 450px;
    margin: auto;
    gap: 30px;
    position: relative;
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 20px;
  }

  article a:last-of-type {
    margin-top: auto;
  }

  @media (max-width: 600px) {
    article {
      width: 300px;
      max-width: 400px;
    }
  }
</style>
