---
const { producentNavn } = Astro.props;
const { desc } = Astro.props;
const { special1 } = Astro.props;
const { special2 } = Astro.props;
const { special3 } = Astro.props;
---

<div class="section">
  <h2>Om {producentNavn}</h2>
  <p>{desc}</p>
  <h3>Specialiteter</h3>
  <ul>
    <li>{special1}</li>
    <li>{special2}</li>
    <li>{special3}</li>
  </ul>
</div>

<style>
  .section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
</style>
